.card{
    background: rgb(48,162,226);
    background: linear-gradient(90deg, rgba(48,162,226,1) 0%, rgba(0,255,170,1) 81%);
    box-sizing: content-box;
}
.backcard{
    background: rgb(48,162,226);
    background: linear-gradient(90deg,  rgba(0,255,170,1) 0%, rgba(48,162,226,1) 81%);
    box-sizing: content-box;
}
